<h1>Login In</h1>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div><br><br>
<% end %>

<%= form_for :user, url: '/login', method: :post do |f| %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br>

  <%= f.label :password %>:
  <%= f.password_field :password %><br>

  <%= f.submit "Log In"%>
<% end %>
